*{

	bg0:#121212;
	bg1:#2B2B2B;

	background-color:@bg0;
	border-color:@bg1;
	color:white;
	font:"JetBrainsMono Nerd Font Mono medium 16";

	border:0;
	margin:0;
	padding:0;
	spacing:0;

}

window{

	border-radius: 16px;
	border: 4px;

}

mainbox{

margin: 8;

}

element{
	background-color:transparent;
}

element-icon{

	size:24;

}

element selected.normal{
	background-color:@bg1;
	border-radius: 16px;

}
