*{

	bg0:#121212;
	bg1:#2B2B2B;

	background-color:@bg0;
	border-color:@bg1;
	color:white;
	//font:"JetBrainsMono Nerd Font Mono medium 16";

	border:0;
	margin:0;
	padding:0;
	spacing:0;

}

window{

	border-radius: 16px;
	border: 4px;
	width:99%;
	height: 99%;

}

mainbox{

padding: 8;

}

elemnet{
orientation: vertical;

    padding: 10px;

    spacing: 10px;

    border-radius: 18px;
}

element-icon{

	size: 164px;

    border-radius: 14px;

    horizontal-align: 0.5;

    vertical-align: 0.5;

	background-color:transparent;
}

element-text{
	horizontal-align:0.5;
}


listview{
	columns: 7;
    lines: 2;

    flow: horizontal;

    fixed-height: true;
    fixed-columns: true;

    cycle: false;

    scrollbar: false;

    spacing: 16px;	
}

element selected.normal{
	background-color:@bg1;
	border-radius:16px;
}
